#menu{
    background-color: antiquewhite;
    display: flex;
    visibility: hidden;
    transition: all 1s ease;
    list-style: none;
    justify-content: space-around;
    /* width: 40vw; */
    /* height:20px; */
    opacity: 0;
}

/* input[type="checkbox"] */
#click{
    display: none;
   
}

/* id값  or*/
/* label[for="click"]  or*/
#click + label{    
    display: inline-block;
    background:url(../img/8680035_checkbox_multiple_line_icon.png);
    cursor: pointer;
    width: 48px;
    height: 48px;
}

#click:checked +label{
    display: inline-block;
    background:url(../img/8679926_checkbox_multiple_fill_icon.png);
    cursor: pointer;
    width: 48px;
    height: 48px;
}

/* ~ :근접형제선택 */
/* + :인접형제선택 */
#click:checked ~ #menu{
    visibility: visible;
    opacity: 1;
}