* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
  color: black;
}
a:hover,
a:active {
  text-decoration: none;
  color: black;
}
header {
  width: 100%;
}
#logo {
  width: 100%;
  text-align: center;
  background-color: rgba(119, 119, 119, 0.14);
}
nav {
  width: 1075px;
  height: 5rem;
  margin: 0 auto;
  font-size: 13px;
}
nav ul {
  height: 100px;
  text-align: justify;
  float: left;
}
nav #login {
  float: right;
}
nav #login li {
  margin-right: 10px;
  font-weight: lighter;
}
nav ul li {
  float: left;
  margin-right: 100px;
  font-weight: bold;
  text-align: justify;
  padding-top: 45px;
}
#hide1,
#hide2,
#hide3,
#hide4,
.hide_language {
  background-color: aqua;
  color: white;
  display: none;
}

article {
  height: 100%;
  display: inline-block;
}
aside {
  width: 100px;
  height: 100vh;
  float: right;
  background: url(./img/gnb_brand_menu_2.png) no-repeat;
  position: fixed;
  background-color: #292929;
  right: 0px;
}
#container {
  width: 100%;
}
#top_banner {
  width: 100%;
  height: 450px;
  overflow: hidden;
  text-align: center;
}
#main {
  width: 100%;
  background-color: rgba(119, 119, 119, 0.14);
}
#main_inner {
  width: 1075px;
  margin: 0 auto;
}
#main_inner > p {
  padding: 45px 0 25px 0;
  font-size: 20px;
}
#main_inner > p > span {
  display: inline-block;
  width: 50px;
  border-bottom: 1px solid black;
}
#main_inner2 {
  height: 900px;
  position: relative;
}
#main_inner2 div:nth-child(2) {
  position: absolute;
  top: 0;
  left: 270px;
}
#main_inner2 div:nth-child(3) {
  position: absolute;
  top: 0;
  left: 540px;
}
#main_inner2 div:nth-child(4) {
  position: absolute;
  top: 0;
  left: 810px;
}
#main_inner2 div:nth-child(5) {
  position: absolute;
  top: 270px;
  left: 0;
}
#main_inner2 div:nth-child(6) {
  position: absolute;
  top: 270px;
  left: 540px;
}
#main_inner2 div:nth-child(7) {
  position: absolute;
  top: 540px;
  left: 0;
}
#main_inner2 div:nth-child(8) {
  position: absolute;
  top: 540px;
  left: 270px;
}
#main_inner2 div:nth-child(9) {
  position: absolute;
  top: 540px;
  left: 810px;
}
#bottom_banner {
  width: 100%;
  padding: 50px 0;
}
#bottom_banner > #banner_inner {
  width: 1075px;
  margin: 0 auto;
  overflow: hidden;
}

.b_banner_inner1 {
  width: 1075px;
  overflow: hidden;
}
#bottom_banner > p {
  text-align: center;
  font-size: 25px;
  margin-bottom: 30px;
}
#banner_inner {
  overflow: hidden;
}
#banner_inner ul {
  display: flex;
}
.b_banner_inner1 {
  display: flex;
  justify-content: space-between;
}
.b_banner_inner1 li {
  margin-left: 10px;
}
.b_banner_inner1 li img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
}

.b_banner_inner1 li h1 {
  font-size: 20px;
  font-weight: 600;
}
.b_banner_inner1 li p {
  font-size: 17px;
  font-weight: 400;
  margin: 10px;
}
footer {
  width: 100%;
  background-color: #292929;
  color: white;
}
#footer_inner {
  width: 1075px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding: 50px 0 80px 0;
}
#footer_inner ul {
  float: left;
  padding-left: 30px;
}
#footer_inner ul div {
  float: left;
  padding-left: 30px;
}
#footer_inner ul h1 {
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  padding-bottom: 30px;
}
#footer_inner ul li {
  text-align: center;
  padding-bottom: 10px;
}
#footer_inner ul li a {
  color: #7777;
}
#footer_inner2 {
  clear: both;
  width: 100%;
  display: inline-block;
  border: 1px solid #7777;
  border-width: 1px 0;
  margin-bottom: 30px;
}
#footer2_in {
  width: 1075px;
  margin: 0 auto;
}
#footer2_in ul {
  display: inline-block;
  border-right: 1px solid #777;
}
#footer2_in ul li {
  float: left;
  padding: 10px;
}
#footer2_in ul li:first-child {
  padding-left: 0px;
}
#footer2_in ul li a {
  color: #7777;
  font-size: 11.5px;
  height: 40px;
  line-height: 40px;
}
#footer2_in .box {
  width: 160px;
  float: right;
  line-height: 65px;
  background: url(./img/bu_familysite.png) no-repeat 120px 50%;
  font-size: 12px;
  transition: all 0.2s ease;
}

#last {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 70px;
  line-height: 40px;
  font-size: 11.5px;
  color: #7777;
}
#footer2_in .box .hidden_nav ul li {
  clear: both;
  padding: 5px 0;
  text-align: center;
  margin-right: 0;
  line-height: 10px;
}
.hidden_nav {
  display: none;

  height: 500px;
  width: 160px;
}
.hidden_nav ul {
  transition: all 0.2s ease 0.5s;
}

.box:hover .hidden_nav {
  display: block;
}
