@font-face {
  font-family: "HallymGothic-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "HallymGothic-Regular";
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
header {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.3);

  position: fixed;
}
nav {
  width: 100%;
  text-align: center;
  display: inline-block;
  font-size: 15px;
}
nav > ul {
  display: flex;
  justify-content: center;
  position: relative;
  top: 13px;
}
nav > ul li {
  padding-right: 100px;
  width: 160px;
  display: inline-block;
}
nav ul li a {
  color: white;
}
.on a {
  transition: all 0.5s;
  color: #747474;
}
.hide1,
.hide2 {
  background-color: white;
  width: 180px;
  position: relative;
  top: 15px;
  display: none;
  transition: all 1s;
}
.hide1 li {
  display: inline-block;
  padding: 10px 20px;
  width: 100%;
  text-align: left;
}
.hide1 li a {
  color: black;
}

.hide2 li {
  padding: 10px 20px;
  height: 50px;
  width: 100%;
  text-align: left;
}
.hide2 li a {
  color: black;
}
.hide2 li a img {
  width: 20px;
  height: 20px;
  float: right;
}
.hide_inner1,
.hide_inner2 {
  display: none;
  position: absolute;
  left: 181px;
  top: 0px;
  width: 100%;
  background-color: white;
}
.hide_inner2 {
  top: 50px;
}
#login {
  position: absolute;
  top: 13px;
  right: 0;
}
#login ul {
  display: flex;
  width: 100px;
  justify-content: space-between;
  margin-right: 100px;
}
#login ul li a {
  font-size: 12px;
}
#login ul li a img {
  width: 20px;
  height: 20px;
  color: white;
}

#banner img {
  width: 100%;
}
#product,
#wholesale,
#faq,
#outro {
  width: 1400px;
  margin: 50px auto;
}
section > div > .title {
  width: 135px;
  margin: 0 30px;
  text-align: center;
}
section > div > .hr,
.hr2 {
  width: 600px;
  border: thin solid #777;
  position: relative;
  top: 10px;
}
section > div > .hr,
.title {
  float: left;
}
section > div > .hr2 {
  float: right;
}
.title {
  font-weight: bold;
}

/* 로스트섹션 */
.rost_list {
  overflow: hidden;
  display: inline-block;
}
.rost_list ul {
  width: 1400px;
  display: flex;
  margin-top: 50px;
  overflow: hidden;
}
.rost_list ul li {
  margin-left: 20px;
  text-align: center;
  line-height: 30px;
}

.rost_list ul li a div img {
  width: 260px;
  height: 260px;
  margin-bottom: 20px;
}
.rost_list ul li a:first-child {
  overflow: visible;
}
.rost_list ul li a:nth-child(2) {
  font-size: 12px;
  font-weight: bold;
}
.rost_list ul li > p {
  font-size: 11px;
  line-height: 20px;
}
.rost_list ul li a:last-child {
  width: 80px;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
}
.rost_list ul li a:last-child img {
  width: 20px;
  height: 20px;
  position: relative;
  top: 3px;
}
/* 로스트섹션끝 */

/* 홀섹션 */
#whol_inner ul {
  width: 1400px;
  display: flex;
  justify-content: space-between;
  padding: 100px 0 80px;
  text-align: center;
}
#whol_inner ul li img {
  width: 450px;
  z-index: -1;
  position: relative;
}
#whol_inner ul li h2 {
  padding: 30px 0;
}
#whol_inner ul li p {
  line-height: 25px;
  font-size: 14px;
  color: #747474;
}
#button {
  width: 150px;
  height: 40px;
  background-color: black;
  color: white;
  position: relative;
  left: 620px;
  margin-bottom: 150px;
  transition: all 0.5s;
}
/* 홀섹션끝 */

/* 인스타그램 */
#insta_inner {
  width: 1400px;
  margin: 0 auto;
}
#addr {
  clear: both;
  text-align: center;
  padding: 70px 0 80px;
}
#insta_inner #img_inner ul {
  width: 1400px;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
}
#img_inner ul li {
  display: inline-block;

  height: 210px;
}
#insta_inner ul li a {
  display: inline-block;
  height: 200px;
}
#insta_inner ul li img {
  width: 270px;
  height: 200px;
}
#insta_inner ul li .hide {
  font-size: 10px;
  color: white;
  width: 270px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  top: -205px;
  display: none;
  transition: all 1s;
}
#insta_inner ul li .hide span {
  position: relative;
  top: 50%;
  left: 10%;
}
#img_inner input {
  width: 100px;
  margin: 30px 0 80px;
}
.hide_tag {
  background-color: black;
  opacity: 0.5;
  width: 270px;
  height: 200px;
  position: relative;
  top: -205px;
  transition: all 1s;
  display: none;
}
.hide_tag > span {
  position: relative;
  top: 90px;
  left: 30px;
  color: white;
  font-size: 13px;
  opacity: 1;
}
/* 인스타그램끝 */

/* faq */
#faq_inner {
  width: 1400px;
  margin: 0 auto;
}
#faq_inner ul {
  display: flex;
  justify-content: space-around;
  margin: 50px 0 30px;
  text-align: center;
  font-size: 14px;
}
#faq_inner ul li h2 {
  margin: 30px 0;
  font-size: 17px;
}
#faq_inner ul li:last-child input {
  width: 100px;
  height: 50px;
  margin: 50px 0 40px;
  left: 0;
}
/* faq끝 */

/* outro */
#outro_inner {
  text-align: center;
  margin: 100px 0;
}
#outro_inner h2 {
  font-size: 40px;
}
#outro_inner .middle {
  font-size: 18px;
  color: #747474;
  margin: 30px 0 50px;
}
#outro_inner p {
  font-size: 20px;
  font-weight: 500;
}
/* outro끝 */

/* real */
#real_btn {
  position: absolute;
  top: 92%;
  right: 13%;
}
#real {
  position: fixed;
  width: 150px;
  height: 50px;
  border-radius: 30px;
  background-color: #00c37c;
  display: inline-block;
}
#real a {
  position: relative;
  color: white;
  top: 13px;
  left: 35px;
}
#real a img {
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
  margin-right: 10px;
  opacity: 0.3;
}
/* real끝 */

/* footer */
footer {
  width: 100%;
  background-color: lightgrey;
}
#footer_inner {
  width: 1400px;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  color: #747474;
}
#l_footer ul {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  line-height: 40px;
  font-size: 13px;
}
#l_footer ul li {
  margin-right: 30px;
}
#l_footer ul li:last-child {
  font-weight: bold;
}
#l_footer ul li a {
  color: #747474;
}
#l_footer p {
  font-size: 13px;
  margin-bottom: 10px;
}
#r_footer img {
  width: 30px;
  height: 30px;
  opacity: 0.5;
}
/* footer끝 */
